html *
{
    font-family: 'Space Mono', monospace;
}

#bannerheadcontainer{
    display:flex;

}

#head {
    color:rgb(209, 219, 230);
    justify-content: center;
    background-image: url('images/blue-background.jpg');
    display: inline-flex;
    width: 70%;
    align-items: center;
    font-size: 0.5em;
    text-align: center;
}

.topbanners {
    width: 15%;
    display: inline-flex;
    justify-content: center;
}

.topbanners img{
    width: 100%;
}

.menus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    height: auto;
    font-family: 'Space Mono', monospace;
    grid-gap:0.4em; 
    padding: 1em 4em 1em 4em;
    flex-direction: column;
}

.menus a {
    color: white;
    font-size: 0.8em;
    justify-content: center;
    
}


@media only screen and (min-width: 768px) {
    #head {
        font-size: 1.2em;
    
  }
    .menus {
        flex-direction: row;
        grid-gap: 1.5em;
        font-size: 1.2em;
  }
}

h2 { 
    font-size: 1.3rem;
    text-align: center;
}

#bigsections{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.eachsection{
    min-height: 200px;
    text-align: center;
    width: 100%;
    
}

.eachsection h2{
    padding-top:5px;
}



#gamesection{
    background-image: url('images/gameBackground.jpg');
    color: white;
    background-size: cover;
}

#animationsection{
    background-image: url('images/outerspacepic.png');
    background-size: cover;
    color:white;
}

#booksection{
    background-image: url('images/Books-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#reviewsection{
    background-image: url('images/stars.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    color:black;
}

.foot{
    font-size: 0.6rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #bigsections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px 5px;
        
    }
}

.aroundvideos{
    padding-right: 20px;
    /* padding-left: 20px; */
}

.gamesanimationsleft {
    justify-content:center;
    display: flex;
    flex-wrap:wrap;
} 

.gamesanimationsright {
    justify-content:center;
    display: flex;
    flex-wrap:wrap-reverse;
} 

.animadescription {
    max-width: 250px;
    min-width: 320px;
}

.gamedescription {
    max-width: 250px;
    max-height: 200px;
    min-width: 320px;
}


@media only screen and (min-width: 768px) {
    .gamedescription {
        padding-top: 25px;
        padding-left: 5px;
    }
}

#aboutme {
    display:flex;
    justify-content: center;
    width:85%;
    margin: auto;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    #aboutme {
        flex-wrap: nowrap;
        width:60%;
    }
}

.aroundimage{
    padding-right: 20px;
    padding-top: 25px;
}


/* change to 1em 70% 15% 
At 375x667* change font to 0.5em;